<!doctype html>
  <title>Upload new CSV</title>
  <h1>Upload new CSV</h1>
  <form method=post enctype=multipart/form-data>
    <p><input type=file name=file>
       <input type=submit value=Upload>
  </form>
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<footer>
<h2>Previous analysis</h2>
{% for index, row in history.iterrows() %}
<ul>
<li>{{ row['date'] }} : <a href=http://localhost:5000/analysis?result_index={{index}}>{{row['filename'] }}</a> </li>
</ul>
{% endfor %}
</footer>